<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.food">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_food_label"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_food_label"
        android:supportsRtl="true"
        android:theme="@style/Theme.Food">
        <activity
            android:name=".MakingOrderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Food"/>
        <activity
            android:name=".RegistrationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Food" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Food" />
        <activity
            android:name=".SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Food" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Food" />
    </application>

</manifest>